@import 'http://weloveiconfonts.com/api/?family=fontawesome';

.conteudo {
    width: 50%;
    padding-top: 1%;
    margin: auto;
}

[class*="fontawesome-"]:before {
    font-family: 'fontawesome', sans-serif;
}

.select-search-box {
    width: 300px;
    position: relative;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 16px 16px 0 0;
}

.select-search-box__options {
    left: 0;
    height: 140px;
    overflow: auto;
}

.select-search-box--multiple {
    border-radius: 4px;
    overflow: hidden;
}

.select-search-box::after {
    font-family: fontawesome, serif;
    content: "\f078";
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 35px;
    color: #003558;
    width: 32px;
    z-index: 1;
}

.select-search-box--multiple::after {
    content: "\f002";
}

.select-search-box--input::after {
    display: none !important;
}

.select-search-box__out {
    display: none;
}

.select-search-box__search {
    display: block;
    width: 100%;
    height: 32px;
    border-radius: 16px;
    background: none;
    outline: none;
    font-size: 16px;
    padding: 0 20px;
    color: #222f3e;
    -webkit-appearance: none;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    cursor: pointer;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 50px;
    border: 1px solid #DDDDDD;
}

.select-search-box--focus {
    border: 1px solid #003558;
}

.select-search-box--focus .select-search-box__search {
    border-radius: 16px 16px 0 0;
    border-bottom: 1px solid #DDDDDD;
}

input.select-search-box__search {
    line-height: 1;
}

.select-search-box--multiple .select-search-box__search {
    box-shadow: none;
}

.select-search-box--input .select-search-box__search {
    cursor: text;
}

.select-search-box__search:focus {
    cursor: text;
}

.select-search-box__search--placeholder {
    font-style: italic;
    font-weight: normal;
}

.select-search-box input::-webkit-input-placeholder {
    color: #ccc;
    font-style: italic;
    font-weight: normal;
}

.select-search-box input::-moz-placeholder {
    color: #ccc;
    font-style: italic;
    font-weight: normal;
}

.select-search-box input:-moz-placeholder {
    color: #ccc;
    font-style: italic;
    font-weight: normal;
}

.select-search-box input:-ms-input-placeholder {
    color: #ccc;
    font-style: italic;
    font-weight: normal;
}

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.select-search-box__select {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background: #FFFFFF;
    border-radius: 0 0 16px 16px;
    overflow: auto;
    z-index: 100;
    min-height: 49px;
}

.select-search-box__select {
    border-bottom: 1px solid #003558;
    border-left: 1px solid #003558;
    border-right: 1px solid #003558;
}

.select-search-box--multiple .select-search-box__select {
    display: block;
    position: static;
    border: 1px solid #003558;

    border-radius: 0;
    box-shadow: none;
}

.select-search-box__select--display {
    display: block;
    overflow: hidden;
    height: 155px;
    width: 300px;
    margin-left: -1px;
    /*aqui porra*/
}

.select-search-box__option {
    font-size: 16px;
    font-weight: 400;
    color: #777777;
    padding: 8px 16px;
    border-top: 1px solid #DDDDDD;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

.select-search-box__option:first-child {
    border-top: none;
}

.select-search-box__option--hover, .select-search-box__option:hover {
    background: #f4f7fa;
}

.select-search-box__option--selected {
    background: #54A0FF;
    color: #fff;
    border-top-color: #2184ff;
}

.select-search-box__option--selected:hover, .select-search-box__option--selected.select-search-box__option--hover {
    background: #2184ff;
    color: #fff;
    border-top-color: #2184ff;
}

.select-search-box__group {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
    position: relative;
}

.select-search-box__group-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}